*/
*
*.*

!.teamocil
!.teamocil/**
!alacritty
!alacritty/alacritty.yml
!dunst
!dunst/**
!fish
!fish/config.fish
!fish/fish_plugins
!fish/completions
!fish/completions/**
!i3
!i3/**
!polybar
!polybar/**
!nvim
!nvim/**
nvim/lazy-lock.json
!lazygit/config.yml
!kitty
!kitty/**
!tmux
!tmux/**
!bpytop
!bpytop/bpytop.conf


!.gitignore
!.tmux.conf
!picom.conf
