*/
*
*.*

!.teamocil
!.teamocil/**
!alacritty
!alacritty/**
!dunst
!dunst/**
!fish
!fish/config.fish
!fish/fish_plugins
!gitui
!gitui/**
!i3
!i3/**
!polybar
!polybar/**

!.gitignore
!.tmux.conf
!picom.conf
