*/
*
*.*

!.teamocil
!.teamocil/**
!alacritty
!alacritty/alacritty.yml
!alacritty/themes
!alacritty/themes/**
!dunst
!dunst/**
!fish
!fish/config.fish
!fish/fish_plugins
!fish/completions
!fish/completions/**
!fish/conf.d
!fish/conf.d/set_theme.fish
!i3
!i3/**
!polybar
!polybar/**
!nvim
!nvim/**
nvim/lazy-lock.json
!lazygit
!lazygit/config.yml
!kitty
!kitty/**
!tmux
!tmux/tmux.conf
!tmux/themes
!tmux/themes/**
!btop
!btop/btop.conf
!scripts
!scripts/**


!.gitignore
!.tmux.conf
!picom.conf
!.Xresources
